# Logs
*.log

# Arquivos de teste
test_*.php
debug_*.php 

# Env
.env
.env.local
.env.production

# Arquivos de configuração sensíveis
ldap_settings.php

# Arquivos de sessão
sessions/

# Arquivos temporários
*.tmp
*.temp

# Arquivos de backup
*.bak
*.backup

#Arquivos de banco
*.sql